notas.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Filipe Simões de Mendonça (Universidade Federal de Santa Maria) -->
<!--W3C Schema generated by XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="nfeProc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NFe"/>
				<xs:element ref="protNFe"/>
			</xs:sequence>
			<xs:attribute name="versao" default="2.00"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NFe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infNFe"/>
				<xs:element ref="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infNFe">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ide"/>
				<xs:element ref="emit"/>
				<xs:element ref="dest"/>
				<xs:element ref="entrega"/>
				<xs:element ref="det"/>
				<xs:element ref="total"/>
				<xs:element ref="transp"/>
				<xs:element ref="infAdic"/>
			</xs:choice>
			<xs:attribute name="versao" default="2.00"/>
			<xs:attribute name="Id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ide">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cUF"/>
				<xs:element ref="cNF"/>
				<xs:element ref="natOp"/>
				<xs:element ref="indPag"/>
				<xs:element ref="mod"/>
				<xs:element ref="serie"/>
				<xs:element ref="nNF"/>
				<xs:element ref="dEmi"/>
				<xs:element ref="tpNF"/>
				<xs:element ref="cMunFG"/>
				<xs:element ref="tpImp"/>
				<xs:element ref="tpEmis"/>
				<xs:element ref="cDV"/>
				<xs:element ref="tpAmb"/>
				<xs:element ref="finNFe"/>
				<xs:element ref="procEmi"/>
				<xs:element ref="verProc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cUF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cNF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="natOp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="indPag">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="mod">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="serie">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nNF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dEmi">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tpNF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cMunFG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tpImp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tpEmis">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cDV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tpAmb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="finNFe">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="procEmi">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="verProc">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="emit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CNPJ"/>
				<xs:element ref="xNome"/>
				<xs:element ref="xFant"/>
				<xs:element ref="enderEmit"/>
				<xs:element ref="IE"/>
				<xs:element ref="CRT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CNPJ">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xNome">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xFant">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="enderEmit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro"/>
				<xs:element ref="xCpl" minOccurs="0"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="xMun"/>
				<xs:element ref="UF"/>
				<xs:element ref="CEP"/>
				<xs:element ref="cPais"/>
				<xs:element ref="xPais"/>
				<xs:element ref="fone" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="xLgr">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nro">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xCpl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xBairro">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cMun">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xMun">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CEP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cPais">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xPais">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="fone">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="IE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CRT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CPF"/>
				<xs:element ref="xNome"/>
				<xs:element ref="enderDest"/>
				<xs:element ref="IE"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CPF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="enderDest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro"/>
				<xs:element ref="xCpl"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="xMun"/>
				<xs:element ref="UF"/>
				<xs:element ref="CEP"/>
				<xs:element ref="cPais"/>
				<xs:element ref="xPais"/>
				<xs:element ref="fone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="email">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="entrega">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CPF"/>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro"/>
				<xs:element ref="xCpl"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="xMun"/>
				<xs:element ref="UF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="det">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prod"/>
				<xs:element ref="imposto"/>
				<xs:element ref="infAdProd" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="nItem" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="infAdProd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="prod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cProd"/>
				<xs:element ref="cEAN"/>
				<xs:element ref="xProd"/>
				<xs:element ref="NCM"/>
				<xs:element ref="CFOP"/>
				<xs:element ref="uCom"/>
				<xs:element ref="qCom"/>
				<xs:element ref="vUnCom"/>
				<xs:element ref="vProd"/>
				<xs:element ref="cEANTrib"/>
				<xs:element ref="uTrib"/>
				<xs:element ref="qTrib"/>
				<xs:element ref="vUnTrib"/>
				<xs:element ref="vFrete" minOccurs="0"/>
				<xs:element ref="indTot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cProd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cEAN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xProd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NCM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CFOP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="uCom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="qCom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vUnCom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vProd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cEANTrib">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="uTrib">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="qTrib">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vUnTrib">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vFrete">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="indTot">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="imposto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ICMS"/>
				<xs:element ref="IPI" minOccurs="0"/>
				<xs:element ref="PIS"/>
				<xs:element ref="COFINS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cEnq"/>
				<xs:element ref="IPINT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cEnq">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="IPINT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ICMS">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ICMS60"/>
				<xs:element ref="ICMS00"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ICMS60">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orig"/>
				<xs:element ref="CST"/>
				<xs:element ref="vBCSTRet"/>
				<xs:element ref="vICMSSTRet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ICMS00">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orig"/>
				<xs:element ref="CST"/>
				<xs:element ref="modBC"/>
				<xs:element ref="vBC"/>
				<xs:element ref="pICMS"/>
				<xs:element ref="vICMS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modBC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pICMS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vICMS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="orig">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CST">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vBCSTRet">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vICMSSTRet">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PIS">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="PISAliq"/>
				<xs:element ref="PISNT"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PISNT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PISAliq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
				<xs:element ref="vBC"/>
				<xs:element ref="pPIS"/>
				<xs:element ref="vPIS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vBC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pPIS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vPIS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COFINS">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="COFINSAliq"/>
				<xs:element ref="COFINSNT"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="COFINSNT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COFINSAliq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
				<xs:element ref="vBC"/>
				<xs:element ref="pCOFINS"/>
				<xs:element ref="vCOFINS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pCOFINS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vCOFINS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="total">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ICMSTot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ICMSTot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vBC"/>
				<xs:element ref="vICMS"/>
				<xs:element ref="vBCST"/>
				<xs:element ref="vST"/>
				<xs:element ref="vProd"/>
				<xs:element ref="vFrete"/>
				<xs:element ref="vSeg"/>
				<xs:element ref="vDesc"/>
				<xs:element ref="vII"/>
				<xs:element ref="vIPI"/>
				<xs:element ref="vPIS"/>
				<xs:element ref="vCOFINS"/>
				<xs:element ref="vOutro"/>
				<xs:element ref="vNF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vBCST">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vST">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vSeg">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vDesc">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vII">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vIPI">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vOutro">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vNF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="transp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modFrete"/>
				<xs:element ref="transporta" minOccurs="0"/>
				<xs:element ref="vol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modFrete">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="transporta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CNPJ" minOccurs="0"/>
				<xs:element ref="xNome"/>
				<xs:element ref="IE"/>
				<xs:element ref="xEnder" minOccurs="0"/>
				<xs:element ref="xMun" minOccurs="0"/>
				<xs:element ref="UF" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="xEnder">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="qVol"/>
				<xs:element ref="esp" minOccurs="0"/>
				<xs:element ref="pesoL"/>
				<xs:element ref="pesoB"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="qVol">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="esp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pesoL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pesoB">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="infAdic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infCpl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infCpl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Signature">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignedInfo"/>
				<xs:element ref="SignatureValue"/>
				<xs:element ref="KeyInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignedInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CanonicalizationMethod"/>
				<xs:element ref="SignatureMethod"/>
				<xs:element ref="Reference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CanonicalizationMethod">
		<xs:complexType>
			<xs:attribute name="Algorithm" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignatureMethod">
		<xs:complexType>
			<xs:attribute name="Algorithm" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transforms"/>
				<xs:element ref="DigestMethod"/>
				<xs:element ref="DigestValue"/>
			</xs:sequence>
			<xs:attribute name="URI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transforms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transform" minOccurs="2" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transform">
		<xs:complexType>
			<xs:attribute name="Algorithm" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DigestMethod">
		<xs:complexType>
			<xs:attribute name="Algorithm" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DigestValue">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="KeyInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="X509Data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="X509Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="X509Certificate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="X509Certificate">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="protNFe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infProt"/>
			</xs:sequence>
			<xs:attribute name="versao" default="2.00"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="infProt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tpAmb"/>
				<xs:element ref="verAplic"/>
				<xs:element ref="chNFe"/>
				<xs:element ref="dhRecbto"/>
				<xs:element ref="nProt"/>
				<xs:element ref="digVal"/>
				<xs:element ref="cStat"/>
				<xs:element ref="xMotivo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="verAplic">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="chNFe">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dhRecbto">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nProt">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="digVal">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cStat">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="xMotivo">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
