notas3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2018 sp1 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.portalfiscal.inf.br/nfe" xmlns="http://www.portalfiscal.inf.br/nfe" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://www.w3.org/2000/09/xmldsig#">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
	<xs:element name="IE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0963395009"/>
				<xs:enumeration value="ISENTO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CEP">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="91349900"/>
				<xs:enumeration value="97010041"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CPF">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="12345678900"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CRT">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CST">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="60"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NCM">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="85444200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NFe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infNFe"/>
				<xs:element ref="n1:Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PIS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PISNT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cDV">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cNF">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cUF">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="43"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="det">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prod"/>
				<xs:element ref="imposto"/>
			</xs:sequence>
			<xs:attribute name="nItem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="esp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="volume"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ide">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cUF"/>
				<xs:element ref="cNF"/>
				<xs:element ref="natOp"/>
				<xs:element ref="indPag"/>
				<xs:element ref="mod"/>
				<xs:element ref="serie"/>
				<xs:element ref="nNF"/>
				<xs:element ref="dEmi"/>
				<xs:element ref="tpNF"/>
				<xs:element ref="cMunFG"/>
				<xs:element ref="tpImp"/>
				<xs:element ref="tpEmis"/>
				<xs:element ref="cDV"/>
				<xs:element ref="tpAmb"/>
				<xs:element ref="finNFe"/>
				<xs:element ref="procEmi"/>
				<xs:element ref="verProc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mod">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="55"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nNF">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="17544"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nro">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1000"/>
				<xs:enumeration value="1800"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vBC">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vII">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vNF">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="47"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vST">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="qVol"/>
				<xs:element ref="esp"/>
				<xs:element ref="pesoL"/>
				<xs:element ref="pesoB"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CFOP">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5929"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CNPJ">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="43708379008348"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ICMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ICMS60"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cEAN">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="885909453498"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cMun">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="4314902"/>
				<xs:enumeration value="4316907"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dEmi">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2012-11-23"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CPF"/>
				<xs:element ref="xNome"/>
				<xs:element ref="enderDest"/>
				<xs:element ref="IE"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="emit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CNPJ"/>
				<xs:element ref="xNome"/>
				<xs:element ref="xFant"/>
				<xs:element ref="enderEmit"/>
				<xs:element ref="IE"/>
				<xs:element ref="CRT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fone">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="1132323200"/>
				<xs:enumeration value="5591234567"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orig">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="prod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cProd"/>
				<xs:element ref="cEAN"/>
				<xs:element ref="xProd"/>
				<xs:element ref="NCM"/>
				<xs:element ref="CFOP"/>
				<xs:element ref="uCom"/>
				<xs:element ref="qCom"/>
				<xs:element ref="vUnCom"/>
				<xs:element ref="vProd"/>
				<xs:element ref="cEANTrib"/>
				<xs:element ref="uTrib"/>
				<xs:element ref="qTrib"/>
				<xs:element ref="vUnTrib"/>
				<xs:element ref="indTot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="qCom">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="qVol">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tpNF">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="uCom">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vIPI">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vPIS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vSeg">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xCpl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="210 PISO NP"/>
				<xs:enumeration value="SALA 387"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xLgr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AV RORAIMA"/>
				<xs:enumeration value="JOAO WALLIG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMun">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PORTO ALEGRE"/>
				<xs:enumeration value="SANTA MARIA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PISNT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cPais">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1058"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cProd">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AEMC838BEA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cStat">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="chNFe">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="43121143708379008348550010000175440000000000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="librelotto@mail.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nProt">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="143120163710296"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="natOp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="REMESSA VINCUL.ECF VN"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pesoB">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.07"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pesoL">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.07"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="qTrib">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="serie">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="total">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ICMSTot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tpAmb">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tpImp">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="uTrib">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vBCST">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vDesc">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vICMS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vProd">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="47"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xFant">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FAST SHOP S.A."/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xNome">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FAST SHOP S.A."/>
				<xs:enumeration value="GIOVANI LIBRELOTTO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xPais">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Brasil"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xProd">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CABO DE CONEXAO HDMI PRETO | 0885909453498| Rua: A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="COFINS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COFINSNT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ICMS60">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orig"/>
				<xs:element ref="CST"/>
				<xs:element ref="vBCSTRet"/>
				<xs:element ref="vICMSSTRet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cMunFG">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="4314902"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="digVal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="kEaUniFxfvNiekrLwRgFkt7zs2E="/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="finNFe">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indPag">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indTot">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="infCpl" type="xs:anyURI"/>
	<xs:element name="infNFe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ide"/>
				<xs:element ref="emit"/>
				<xs:element ref="dest"/>
				<xs:element ref="entrega"/>
				<xs:element ref="det"/>
				<xs:element ref="total"/>
				<xs:element ref="transp"/>
				<xs:element ref="infAdic"/>
			</xs:sequence>
			<xs:attribute name="Id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NFe43121143708379008348550010000175441000000010"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="versao" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tpEmis">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="transp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modFrete"/>
				<xs:element ref="vol"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vFrete">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vOutro">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vUnCom">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="47"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ICMSTot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vBC"/>
				<xs:element ref="vICMS"/>
				<xs:element ref="vBCST"/>
				<xs:element ref="vST"/>
				<xs:element ref="vProd"/>
				<xs:element ref="vFrete"/>
				<xs:element ref="vSeg"/>
				<xs:element ref="vDesc"/>
				<xs:element ref="vII"/>
				<xs:element ref="vIPI"/>
				<xs:element ref="vPIS"/>
				<xs:element ref="vCOFINS"/>
				<xs:element ref="vOutro"/>
				<xs:element ref="vNF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entrega">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CPF"/>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro"/>
				<xs:element ref="xCpl"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="xMun"/>
				<xs:element ref="UF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="imposto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ICMS"/>
				<xs:element ref="PIS"/>
				<xs:element ref="COFINS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infAdic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infCpl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infProt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tpAmb"/>
				<xs:element ref="verAplic"/>
				<xs:element ref="chNFe"/>
				<xs:element ref="dhRecbto"/>
				<xs:element ref="nProt"/>
				<xs:element ref="digVal"/>
				<xs:element ref="cStat"/>
				<xs:element ref="xMotivo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nfeProc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NFe"/>
				<xs:element ref="protNFe"/>
			</xs:sequence>
			<xs:attribute name="versao" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="procEmi">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="protNFe">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="infProt"/>
			</xs:sequence>
			<xs:attribute name="versao" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="vCOFINS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vUnTrib">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="47"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="verProc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NeoGrid NFe 1.9.0.1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xBairro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CAMOBI"/>
				<xs:enumeration value="PASSO D.AREIA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xMotivo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Autorizado o uso da NF-e"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="COFINSNT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cEANTrib">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="885909453498"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dhRecbto">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:enumeration value="2012-11-23T21:16:40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="modFrete">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vBCSTRet">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="46.41"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="verAplic">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enderDest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro"/>
				<xs:element ref="xCpl"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="xMun"/>
				<xs:element ref="UF"/>
				<xs:element ref="CEP"/>
				<xs:element ref="cPais"/>
				<xs:element ref="xPais"/>
				<xs:element ref="fone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="enderEmit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro"/>
				<xs:element ref="xCpl"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="xMun"/>
				<xs:element ref="UF"/>
				<xs:element ref="CEP"/>
				<xs:element ref="cPais"/>
				<xs:element ref="xPais"/>
				<xs:element ref="fone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vICMSSTRet">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.67"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
